body{
    background-color: beige;
}
#square{
    width: 250px;
    height: 250px;
    background-color: red;
    position: relative;
    border: 2px;
    border-color: black;
}

.text{
    font-family: 'Times New Roman', Times, serif;
}